* {
    box-sizing: border-box;
    margin: 0; 
}

body {
    background-color:  #1f29375a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #1f2937;
    padding: 2em;
    width: 30em;
    height: 45em;
    max-height: 100vh;
    border: #292C39 solid;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    gap: 2em;
}

#display {
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.display-light {
    color: black;
    background-color: gray;
}

.display-dark {
    color: white;
    background-color: black;
}

.previous-op {
    font-size: 1.25rem;
}

.current-op {
    font-size: 2.5rem;
}
.row {
    display: flex;
    justify-content: space-around;
}

button {
    width: 10em;
    height: 5em;
    margin: 0.1em;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#file-name {
    width: 15em;
}

#reset {
    height: 2em;
}